<mat-card>

  <mat-toolbar color="primary">
    <span>Cadastro dos alunos</span>
  </mat-toolbar>

  <mat-card-content>

    <mat-form-field class="topLeft8px">
      <mat-label>Pesquisar por nome</mat-label>
      <input matInput (input)="onSearchName($event)" placeholder="nome">
    </mat-form-field>

    <p>
      <button (click)="newAluno()" mat-raised-button color="primary" aria-label="Adicionar Aluno" class="margin-right-button">
        <mat-icon>add</mat-icon> Adicionar
      </button>
      <button (click)="onImport()" mat-raised-button color="primary" aria-label="Adicionar Aluno">
        <mat-icon>upload_file</mat-icon> Importar
      </button>
    </p>

    <mat-toolbar color="primary">
      <span>Alunos</span>
    </mat-toolbar>

    <div class="column-flex mat-elevation-z8">
      <app-alunos-list [filter]="filterName" ></app-alunos-list>
    </div>

  </mat-card-content>
</mat-card>
