<mat-card>

  <mat-toolbar color="primary">
    Detalhes do aluno
  </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="nome">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="12345678900" formControlName="cpf">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="email@exemplo.com" formControlName="email">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="11 123456789" formControlName="telefone">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Status Financeiro</mat-label>
        <mat-select formControlName="status_financeiro">
          <mat-option value=""></mat-option>
          <mat-option value="Adimplente">Adimplente</mat-option>
          <mat-option value="Inadimplente">Inadimplente</mat-option>
          <mat-option value="Renegociação">Renegociação</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>

</mat-card>
