
<div *ngIf="alunosPage | async as alunosPage; else loading">
  <mat-table [dataSource]="alunosPage.alunos" >

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let aluno"> {{ aluno.nome }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
      <mat-cell *matCellDef="let aluno"> {{ aluno.email }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
      <mat-cell *matCellDef="let aluno" mask="(00) 00000-0000"> {{ aluno.telefone }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="data_entrada">
      <mat-header-cell *matHeaderCellDef> Data de Entrada </mat-header-cell>
      <mat-cell *matCellDef="let aluno"> {{ aluno.data_entrada | date: 'dd/MM/yyyy' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell class="action-column" *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let aluno" class="action-column">
        <button mat-icon-button color="primary" aria-label="Editar Aluno" (click)="onEdit(aluno)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Excluir Aluno" (click)="onDelete(aluno)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 25, 50]"
                 showFirstLastButtons
                 [pageIndex]="pageIndex"
                 [pageSize]="pageSize"
                 [length]="alunosPage?.totalElements"
                 (page)="refresh($event)"
                 aria-label="Selecione a página de alunos">
  </mat-paginator>
</div>

<ng-template #loading>
  <div class="loadin-spineer">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
