<mat-card>

  <mat-toolbar color="primary">
    Cadastro do aluno
  </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="margin-fields-1em width-400">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="nome">
        @if (requiredFormControl.hasError('required')) {
          <mat-error>Nome é <strong>Obrigatório</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="margin-fields-1em width-16em" >
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="email@exemplo.com" formControlName="email" >
        @if (emailFormControl.hasError('required')) {
          <mat-error>E-mail é <strong>Obrigatório</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="margin-fields-1em">
        <mat-label>Telefone</mat-label>
        <input matInput #telefone placeholder="(11) 12345-6789" formControlName="telefone" mask="(00) 00000-0000">
        @if (requiredFormControl.hasError('required')) {
          <mat-error>Telefone é <strong>Obrigatório</strong></mat-error>
        }
      </mat-form-field>

      <mat-checkbox class="example-margin" color="primary" formControlName="mentoria" (change)="checkMentoria()">Mentoria</mat-checkbox>

      <div *ngIf="isMentoria">
        <mat-form-field class="margin-fields-1em width-400" >
          <mat-label>Nome Sócio</mat-label>
          <input matInput placeholder="Nome" formControlName="nome_socio">
        </mat-form-field>

        <mat-form-field class="margin-fields-1em width-16em" >
          <mat-label>E-mail Sócio</mat-label>
          <input matInput formControlName="email_socio">
        </mat-form-field>

        <mat-form-field class="margin-fields-1em" >
          <mat-label>Telefone Sócio</mat-label>
          <input matInput placeholder="(11) 12345-6789" formControlName="telefone_socio" mask="(00) 00000-0000">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="margin-fields-1em width-400" >
          <mat-label>Responsável</mat-label>
          <input matInput placeholder="Nome" formControlName="responsavel">
        </mat-form-field>

        <mat-form-field class="margin-fields-1em" >
          <mat-label>Data de Entrada</mat-label>
          <input matInput [matDatepicker]="data_entrada" formControlName="data_entrada">
          <mat-datepicker-toggle matIconSuffix [for]="data_entrada"></mat-datepicker-toggle>
          <mat-datepicker #data_entrada disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>

    </form>
  </mat-card-content>

  <mat-card-actions class="padding-raised-button">
    <button mat-raised-button class="margin-right-button" color="primary" [disabled]="form.invalid" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button class="margin-right-button" (click)="onCancel()">Cancelar</button>
  </mat-card-actions>

</mat-card>
